


<br>
<br>
<br>

   <div ng-controller="galleryController">{{vm.slides}}
    <div style="height: 305px">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in vm.slide track by $index" index="slide.id">
          <img ng-src="{{slide.if}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{slide.marca}}</h4>
            <p>{{slide.modelo}}</p>
            <p>{{slide.precio}}</p>
          </div>
        </div>
    </div>
    <!-- <ul class="carousel-thumbs">
      <li class="carousel-thumb" ng-repeat="element in vm.slides1" ng-click="vm.setActiveSlide($index)"  index="element.id" style="background-image: url({{element.if}}); width: {{100/vm.slides1.length}}%">{{element.marca}}</li>
    </ul> -->
    </div>
  </div>



